html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  margin: 0;
  min-height: 180px;
  padding: 0;
  width: 384px;
  user-select: none;
}

h1 {
  font-family: "Menlo", monospace;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  color: #2f5876;
}

a:link,
a:visited {
  color: #000000;
  outline: 0;
  text-decoration: none;
}

img {
  width: 37px;
}

.modal-header {
  align-items: center;
  border-bottom: 0.5px solid #dadada;
}

.modal-content {
  padding: 0 22px;
}

.modal-icons {
  border-top: 0.5px solid #dadada;
  height: 50px;
  width: 100%;
}

.logo {
  padding: 16px;
}

.logo-icon {
  vertical-align: text-bottom;
  margin-right: 12px;
}

.version {
  color: #444;
  font-size: 15px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 22px;
}

.flex {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  width: 120px;
}

.flex:hover {
  opacity: 0.4;
}

.flex .fab {
  font-size: 27px;
  color: #2f5876;
}
.flex .fas {
  font-size: 27px;
  color: #2f5876;
}

/* below class animation will be added later */
.rainbow {
  animation: rainbow 1800ms;
  animation-iteration-count: infinite;
}

@keyframes rainbow {
  0% {
    color: red;
  }
  15% {
    color: orange;
  }
  30% {
    color: yellow;
  }
  45% {
    color: green;
  }
  60% {
    color: blue;
  }
  75% {
    color: indigo;
  }
  90% {
    color: purple;
  }
}
